div.recipes-container(controller="recipes")
    div.loader.hidden
        div
        div
        div
        div
    div.recipes-list
        div.recipe(
            iterate="data.recipes"
            onclick="Controller.selectRecipe(this.dataset.id)"
            data-id!=data.recipes.id
        )
            div.title !{data.recipes.title}
            div.details
                div(
                    style!="background-image:url("+data.recipes.picture+")"
                ).picture
                div.description-container
                    div.time-container
                        i.material-icons timer
                        div.time !{data.recipes.time}    
                    div.ingredients
                        div.ingredient-item(iterate="data.recipes.ingredients")
                            div.name !{data.recipes.ingredients.name}
                            div.amount !{data.recipes.ingredients.amount}
                    div.description !{data.recipes.description}
                    div.loader.hidden
                        div
                        div
                        div
                        div
                div.steps
                    div.step-item(iterate="data.recipes.steps")
                        img.picture.step(
                            style!="display:" + data.recipes.steps.display
                            src!=data.recipes.steps.picture
                        )
                        p.text !{data.recipes.steps.text}
        div.backdrop(
            onclick="Controller.deselectRecipe()"
        )